<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Geo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FC3B67251E42227C0095D1A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC3B672D1E42227C0095D1A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC3B67411E42228C0095D1A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC3B674E1E4223800095D1A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC3B675B1E42240E0095D1A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC3B67681E42241F0095D1A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC3B67751E4224340095D1A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCFB17101E3566CD00DDC927</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCFB17191E3566CE00DDC927</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
